<! DOCTYPE html>
<html lang="en">
<head>

    <style>

       h1{
        text-align: center;
       }

        form {
            width:300px;
            margin :auto;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 250px;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            padding:10px;
        }

        form input {
            display: block;
            margin:30px auto;
            height : 30px;
            width:90%;  
            top : 3px;
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);

   }

        form button {
            background-color : #66CDAA;
            cursor : pointer;
            border : none;
            padding : 10px;
            width : 30%;
            transition : 0.3s;
                }
         
                form button:hover {
                  background-color :#3CB371 ;
              }

        </style>

</head>
<body>

    <h1>Update Auther</h1>

<form method="POST" >
   username <input type="text" name="username" value={{author.username}} />
    email <input type="text" name="email" value={{author.email}} />
    <button type="submit"><a href="{{ path('app_update') }}">Update</a></button>
    
</form>

</body>

</html>